version: '3.8'

services:
  azfin-backend:
    image: azfin-backend:latest
    restart: unless-stopped
    environment:
      PORT: "5001"
      NODE_ENV: "production"
    volumes:
      - /datastore/azfin/data.json:/app/data.json
      - /datastore/azfin/requests.json:/app/requests.json
      - /datastore/azfin/uploads:/app/uploads
    networks:
      - edge
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=edge'
      - 'traefik.http.routers.azfin-api.rule=(Host(`azfin.octotech.az`)) && (PathPrefix(`/api`) || PathPrefix(`/uploads`))'
      - 'traefik.http.routers.azfin-api.entrypoints=web'
      - 'traefik.http.routers.azfin-api.priority=100'
      - 'traefik.http.services.azfin-api.loadbalancer.server.port=5001'

  azfin-frontend:
    image: azfin-frontend:latest
    restart: unless-stopped
    networks:
      - edge
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=edge'
      - 'traefik.http.routers.azfin.rule=Host(`azfin.octotech.az`)'
      - 'traefik.http.routers.azfin.entrypoints=web'
      - 'traefik.http.services.azfin.loadbalancer.server.port=80'

networks:
  edge:
    external: true
