version: '3.8'

services:
  azfin-app:
    build: .
    container_name: azfin-platform
    ports:
      - "5001:5001"
    volumes:
      - ./data.json:/app/data.json
      - ./requests.json:/app/requests.json
      - ./uploads:/app/uploads
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=5001
