
/* Global styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1A526E;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #25718E;
}
